html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;

  div button {
    margin-left: 5px;
  }
}

.active {
  background-color: rgb(187, 179, 179);
}
